@mixin flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-all-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-v-center {
  display: flex;
  align-items: center;
}

@mixin flex-h-center {
  display: flex;
  justify-content: center;
}

@mixin text($fz, $clr, $lh: 150%, $fw: 400, $ls: initial) {
  font-size: $fz;
  color: $clr;
  line-height: $lh;
  font-weight: $fw;
  letter-spacing: $ls;
}

@mixin hover {
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    @content;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint==desktop {
    @media only screen and (max-width: 1120px) {
      @content;
    }
  }
  @if $breakpoint==tablet {
    @media only screen and (max-width: 980px) {
      @content;
    }
  }

  @if $breakpoint==medium {
    @media only screen and (max-width: 748px) {
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }

  @if $breakpoint==mobile-sm {
    @media only screen and (max-width: 425px) {
      @content;
    }
  }
}
