body {
  font-family: "DM Serif Display", serif;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--content-padding);
  margin: 0 auto;

  &_flex {
    @include flex-all-sb;
    column-gap: 20px;
  }

  &_sm {
    max-width: 1080px;
  }
}

.section {
  margin-top: var(--section-offset);
}
